<manifest xmlns:android="http://schemas.google.com/apk/res/android" package="com.joaokersting.taxidriver">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application>
        <service android:name=".LocationService" android:foregroundServiceType="location" android:enabled="true" android:exported="false" />
    </application>
</manifest>
